<!DOCTYPE html>
<html>
	<head>
		<!-- <% include _parts/head %> -->
		<title></title>
		<meta name="description" content="">
		<meta name="keywords" content="">
		<meta property="og:title" content="">
		<meta property="og:description" content="" />
		<meta property="og:url" content="">
		<!-- <% include _parts/head_links %> -->
		<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
	</head>
	<body>
		<div class="site-wrapper top-page">
			<!-- <% include _parts/header %> -->
			<main class="site-main">
				<div class="contents-wrapper">
					<section class="section-block section-movie">
						<header class="section-hed">
							<h2></h2>
						</header>
						<div class="section-body">
						</div>
					</section>
					<div class="contents-block">
					</div>
					<p>test</p>
				</div>
			</main>
			<!-- <% include _parts/footer %> -->
		</div>
	</body>
</html>
